body {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    
}

/* Header stuff here */

header {
    background-color: #232625;
    padding: 1rem 2vh;
}

header h1 {
    margin: 0;
    color: #ffffff;
}

header p {
    margin: 0;
    color: #ffffff;
}

/* Nav stuff goes here */

nav {background-color: #35403A}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #BFBFB8;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}

nav li.active a {
    background-color: #BFBFB8;
    color: #35403A;
}

nav a:hover {
    color: #fff;
}

/* Stuff for the main */

main {
    padding: 1rem 2vw;
}

.welcome {
    text-align: center;
    margin-bottom: 2rem;
}

main h1 {
    color: #35403A;
    margin-bottom: 0;
}

main h2 {
    color: #35403A;
    margin-bottom: .2rem;
}

main h3 {
    color: #35403A;
    margin-bottom: .2rem;
}

main p {
    color: #232625;
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3vw;
    background-color: #BFBFB8;
    border-radius: 5px;
}

main dl dt {
    color: #4C594F;
    font-style: italic;
    font-weight: 700;
}

main dl dd {
    color: #35403A;
    font-size: .9rem;
}

main ul {
    list-style-type:disc;
}

main li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style: normal;
    background-color: #f2b705;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #024873;
    border-radius: .5rem;
}

main a {
    color: #4C594F;
}

main a:hover {
    color: #BFBFB8;
}

/* Footer stuff here */
footer {
    background-color: #232625;
    text-align: center;
    color: #ffffff;
    padding: 1rem 0;
    font-size: .8rem;
}

footer a {
    color: #BFBFB8;
}

footer a:hover {
    color: #4C594F;
}
